<p id="election_status">
  Elections are currently <b>closed</b>.
  <%= election_status_button %>
</p>

<div class="admin_panel grid_4">
  <%= link_to 'Register Voter', new_admin_user_path if APP_CONFIG['election_status'].eql?('close') %>
  
  <% unless User.count.zero? %>
    <%= link_to 'View List of Voters', admin_users_path %>
    <% link_to(admin_user_path(User.first)) do %>
      Search for Voter
      <input id="voter_id" type="text" value="Voter ID" />
    <% end %>
  <% else %>
    <%= content_tag :div, 'View List of Voters', :class => 'disabled' %>
    <%= content_tag :div, 'Search for Voter', :class => 'disabled' %>
  <% end %>
</div>

<div class="admin_panel grid_4">
  <%= link_to 'View List of Candidates', "/" %>
  <%= link_to 'View Ballot Form', "/" %>
  <%= link_to 'View Election Statistics', "/" %>
</div>

<div class="admin_panel grid_4">
  <%= display_admin_dashboard_panel %>
</div>
