<p>
  <b>Login:</b>
  <%=h @admin.login %>
</p>

<p>
  <b>Login count:</b>
  <%=h @admin.login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%=h @admin.last_request_at %>
</p>

<p>
  <b>Last login at:</b>
  <%=h @admin.last_login_at %>
</p>

<p>
  <b>Current login at:</b>
  <%=h @admin.current_login_at %>
</p>

<p>
  <b>Last login ip:</b>
  <%=h @admin.last_login_ip %>
</p>

<p>
  <b>Current login ip:</b>
  <%=h @admin.current_login_ip %>
</p>


<%= link_to 'Edit', edit_account_path %>

