<% field_set_tag 'Name' do %>
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
  <%= form.label :middle_name %>
  <%= form.text_field :middle_name %>
<% end %>
<% field_set_tag 'Address' do %>
  <%= form.label :street_number %>
  <%= form.text_field :street_number %>
  <%= form.label :street_name %>
  <%= form.text_field :street_name %>
  District
  <%= form.text_field :district_code %>
  City/Municipality
  <%= form.text_field :municipality_code %>
  Province
  <%= form.text_field :provincial_code %>
<% end %>
<% field_set_tag 'Voter Details' do %>
  <%= form.label :voter_id %>
  <%= form.text_field :voter_id %>
  <!--%= button_to_function 'Generate' %--><br />
  <%= form.label :district_code %>
  <%= form.text_field :district_code %><br />
  <%= form.label :municipality_code %>
  <%= form.text_field :municipality_code %><br />
  <%= form.label :provincial_code %>
  <%= form.text_field :provincial_code %>
<% end %>
<p>
  <%= form.label :birth_date %><br />
  <%= date_select :user, :birth_date, :start_year => Time.now.year - 100, :end_year => Time.now.year - 17, :default => Time.now, :order => [:month, :day, :year] %>
</p>
<p>
  <%= form.label :email %><br />
  <%= form.text_field :email %>
</p>
