<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 11 February 2007), see www.w3.org" />
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />

  <title>Exist Elections <%= DateTime.now.year %></title>

  <!-- Stylesheet from Nathan Smith's 960 Grid System -->
  <%= stylesheet_link_tag '960gs/reset' %>
  <%= stylesheet_link_tag '960gs/text' %>
  <%= stylesheet_link_tag '960gs/960' %>

  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'home' %>

  <%= javascript_include_tag :defaults %>
  </script>
</head>

<body>
  <div id="header">
    <div class="container_12">
      <% link_to root_path do %>
      <h1 class="grid_4">
        <%= image_tag "logo.png", :alt => "Exist Elections 2010" %>
      </h1>
      <% end %>
      
      <div class="menu grid_8">
        <%= render :partial => 'layouts/login_panel' unless current_admin.nil? %>
      </div><!--menu-->
    </div>
  </div><!--header-->
  
  <div id="wrapper">
    <div class="container_12">
      <h2>
        Vote for your next leaders now!
      </h2>
      <%= link_to 'Browse the list of candidates.', '/' %>
      <%= link_to 'View Current Election Results.', '/' %>
      <%= link_to 'Learn how to vote.', 'http://www.youtube.com/watch#!v=orr2M-wv594' %>
      <%= link_to 'Vote NOW!.', 'http://www.youtube.com/watch#!v=orr2M-wv594' %>
      <!--
      <object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/orr2M-wv594&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/orr2M-wv594&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>
      -->
    </div>
  </div><!--wrapper-->

  <div id="footer">
    <div class="container_12">
      <p id="copyright" class="grid_6">
        &copy;2010 Exist Software Labs, Inc.<br />
        <span style="color: #666">
        Developed by Nelvin Driz, Gillian Dugay,<br />
        Kaisel Molina, Amboy Suarez
        </span>
      </p>
      <div id="credits" class="grid_6">
      <%= link_to image_tag('rails.png', :alt => "Developed on Rails"), 'http://rubyonrails.org/', :target => '_blank' %>
      </div>
    </div>
  </div><!--footer-->
</body>
</html>

