<% unless @users.empty? %>
<table class="record_list">
  <thead>
    <tr>
      <th>Voter ID</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Address</th>
      <th>Birthdate</th>
      <th>Email address</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%=h user.voter_id %></td>
      <td><%=h user.last_name %></td>
      <td><%=h user.first_name %></td>
      <td><%=h user.middle_name %></td>
      <td><%= format_address user %></td>
      <td><%=h user.birth_date %></td>
      <td><%=h user.email %></td>
      <td><%=h user.activated %></td>
      <td><%=h user.voted %></td>
      <td><%= link_to 'Show', admin_user_path(user) %></td>
      <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
      <td><%= link_to 'Remove', admin_user_path(user), :confirm => 'Are you sure you want to unregister this voter?', :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  No voters registered.
<% end %>
<ul class="record_summary">
  <li class="grid_4">
    <em>Total registered</em>
    <%= @users.count %>
  </li>
  <li class="grid_4">
    <em>Total activated</em>
    <%= User.activated.count %>
  </li>
  <li class="grid_4">
    <em>Total voted</em>
    <%= User.voted.count %>
  </li>
</ul>
<%= link_to 'Register New Voter', new_admin_user_path %>
