<div id="candidate_records" class="record_list grid_<%= grid_width %>">
<% limit ||= 0 %>
  <table>
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th title="Middle Initial">MI</th>
        <th>Position</th>
        <!--th>Province</th>
        <th>City/Municipality</th>
        <th>District</th-->
      </tr>
    </thead>
    <tbody>
      <% candidate_list(position, limit).each do |candidate| %>
      <tr <%= cycle("class = 'alt'", String.new) -%> >
        <td><%=h candidate.last_name %></td>
        <td><%=h candidate.first_name %></td>
        <td><%=h candidate.middle_initial %></td>
        <td><%=h candidate.position %></td>
        <!--td><%=h candidate.province %></td>
        <td><%=h candidate.municipality %></td>
        <td><%=h candidate.district %></td-->
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
