<div id="candidate_records" class="record_list">
  <table>
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th title="Middle Initial">MI</th>
        <th>Position</th>
        <th>Province</th>
        <th>City/Municipality</th>
        <th>District</th>
      </tr>
    </thead>
    <tbody>
      <% @candidates.each do |candidate| %>
      <tr <%= cycle("class = 'alt'", String.new) -%> >
        <td><%=h candidate.last_name %></td>
        <td><%=h candidate.first_name %></td>
        <td><%=h candidate.middle_initial %></td>
        <td><%=h candidate.position %></td>
        <td><%=h candidate.province     unless candidate.province.nil? %></td>
        <td><%=h candidate.municipality unless candidate.municipality.nil? %></td>
        <td><%=h candidate.district     unless candidate.district.nil? %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @candidates %>
</div>
