<% province = PROVINCE_LIST.sort.first[0] unless defined?(province) %>
<% municipality = MUNICIPALITY_LIST[PROVINCE_LIST[province]].sort.first[0] unless defined?(municipality) %>
<% district = 1 unless defined?(province) %>

<% list = candidate_list(position, province, municipality, district) %>

<div id="<%= position %>_tally" class="tally_list">
  <h3>
    <%= candidate_list_heading(position, province, municipality, district) %>
  </h3>
<% unless list.count.zero? %>
  <table>
    <tbody>
      <% i = 1 %>
      <% list.each do |candidate| %>
        <tr <%= cycle("class = 'alt'", String.new) %> >
          <td class="row_number">
            <%= i %>
          </td>
          <td><%= candidate.full_name %></td>
          <td style="text-align: right">
            <%= number_with_delimiter(candidate.num_votes) %>
          </td>
          <td style="width: 150px">
            <%= tally_bar(candidate) %>
          </td>
        </tr>
        <% i += 1 %>
      <% end %>
    </tbody>
  </table>
<% end %>
</div>
