<h1 id="header_elec">Election Results</h1>
<%= periodically_call_remote(:frequency => 300,
                             :url => { :action => :update_tally }) %>

<div class="grid_6">
  <h2>National</h2>
  <div id="national_tally">
    <%= render :partial => 'tally_position',
          :locals => { :division => 'national',
                       :position => 'president' } %>
    <%= render :partial => 'tally_position',
          :locals => { :division => 'national',
                       :position => 'vice_president' } %>
    <%= render :partial => 'tally_position',
          :locals => { :division => 'national',
                       :position => 'senator' } %>
  </div>
</div>

<div class="grid_6">
  <h2>Local</h2>
  <fieldset class="tally_filter_group">
    <%= render :partial => 'location_code' %>
  </fieldset>
  <div id="local_tally">
    <%= render :partial => 'tally_position',
          :locals => { :division => 'local',
                       :position => 'governor' } %>
    <%= render :partial => 'tally_position',
          :locals => { :division => 'local',
                       :position => 'vice_governor' } %>
    <%= render :partial => 'tally_position',
          :locals => { :division => 'local',
                       :position => 'mayor' } %>
    <%= render :partial => 'tally_position',
          :locals => { :division => 'local',
                       :position => 'vice_mayor' } %>
    <%= render :partial => 'tally_position',
          :locals => { :division => 'local',
                       :position => 'councilor' } %>
    <%= render :partial => 'tally_position',
          :locals => { :division => 'local',
                       :position => 'representative' } %>
  </div>
</div>
