<div class="grid_6">
<% field_set_tag 'Name' do %>
  <%= form.label :last_name, {} %>
  <%= form.text_field :last_name %>
  
  <%= form.label :first_name, {} %>
  <%= form.text_field :first_name %>
  
  <%= form.label :middle_name, {} %>
  <%= form.text_field :middle_name %>
<% end %>
<% field_set_tag 'Address' do %>
  <%= form.label :street_number %>
  <%= form.text_field :street_number %>
  
  <%= form.label :street_name %>
  <%= form.text_field :street_name %>
<% end %>
</div>
<div class="grid_6">
<% field_set_tag 'Voter Details' do %>
  <%= form.label :voter_id, 'Voter ID', :class => 'required' %>

  <% if @user.voter_id.nil? %>
    <%= form.text_field :voter_id, :value => generate_code, :readonly => 'readonly' %>
  <% else %>
    <%= form.text_field :voter_id, :readonly => 'readonly' %>
  <% end %>

  <%= render :partial => 'location_code' %>
<% end %>
<% field_set_tag 'For Verification' do %>
  <%= form.label :birth_date, {}, :class => 'required' %>
  <%= date_select :user, :birth_date, :start_year => Time.now.year - 100,
                                      :end_year => Time.now.year - 17,
                                      :default => Time.now,
                                      :order => [:month, :day, :year] %>

  <%= form.label :email, {}, :class => 'required' %>
  <%= form.text_field :email %>
<% end %>
</div>
