<% province_list = PROVINCE_LIST.sort %>

<%= label :user, :provincial_code, "Province" %>
<%= select :user, :provincial_code, province_list, {},
    { :onchange => remote_function(
        :url => { :action => 'list_municipalities', :controller => 'admin/users' },
        :method => :get,
        :with => "'province=' + $('user_provincial_code').value" ) } %>

<span id="municipality_code_field">
  <% unless @user.provincial_code.nil? %>
    <%= render(:partial => 'municipality_list', :locals => { :list => MUNICIPALITY_LIST[@user.provincial_code].sort }) %>
  <% else %>
    <%= render(:partial => 'municipality_list', :locals => { :list => MUNICIPALITY_LIST[PROVINCE_LIST.sort.first[1]].sort }) %>
  <% end %>
</span>

<span id="district_code_field">
  <% unless @user.provincial_code.nil? and @user.municipality_code.nil? %>
    <% district_list = generate_district_list(@user.provincial_code, @user.municipality_code) %>
  <% else %>
    <% district_list = generate_district_list(PROVINCE_LIST.sort.first[1],
        MUNICIPALITY_LIST[PROVINCE_LIST.sort.first[1]].sort.first[1]) %>
  <% end %>
  
  <%= render(:partial => 'district_list', :locals => { :list => district_list }) %>
</span>
