<ul class="record_summary">
  <li id="record_action" class="grid_3">
    <%= link_to 'Register New Voter', new_admin_user_path %>
  </li>
  <li class="grid_3">
    <% link_to '#' do %>
      <%= User.activated.count %>
      <em>Total activated</em>
    <% end %>
  </li>
  <li class="grid_3">
    <% link_to '#' do %>
      <%= User.voted.count %>
      <em>Total voted</em>
    <% end %>
  </li>
  <li class="grid_3">
    <% link_to '#' do %>
      <%= User.all.count %>
      <em>Total registered</em>
    <% end %>
  </li>
</ul>
<div class="grid_12">
  <% unless @users.empty? %>
    <%= render :partial => 'records' %>
  <% else %>
    No voters registered.
  <% end %>
</div>